
/*hangyaku-fontの読み込み*/
@font-face {
  font-family: "hangyaku-font";
  src: url("../../assets/fonts/hangyaku-font/Hangyaku-G3rpg.ttf") format("truetype");
}
.navbar-brand.hangyaku {
  font-family: "hangyaku-font", sans-serif;
  font-size: 40px;
}
.nav-link.hangyaku {
  font-family: "hangyaku-font", sans-serif;
}
/* メニュー項目の余白を狭くする */
.navbar-nav .nav-link {
  padding-left: 8px !important;
  padding-right: 20px !important;
  padding-bottom: 0px !important;
}

/*ヘッダーの余白の調整*/
.navbar {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}